.navbar {
  position: fixed;
  background-color: var(--color-dark);
  width: var(--navbar-width);
  min-height: 100vh;
  z-index: 5;
}

.navbar__logo {
  text-align: center;
  padding: 2rem 0;
}

.navbar__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar__item {
  padding: 1.5rem;
  margin: 1rem 0;
  color: var(--color-gray);
  font-size: var(--font-l);
  border-radius: 15px;

  transition: all 0.2s ease-in-out;
}

.navbar__item:hover {
  color: var(--color-white);
  background-color: var(--color-gray);
}

.navbar__item--active {
  background-color: var(--color-gray);
  color: var(--color-light);
}
