.navbar {
  position: absolute;
  left: 0;
  background-color: var(--color-dark);
  width: var(--navbar-width);
  min-height: 100vh;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.navbar__close {
  color: var(--color-white);
  padding-top: 2rem;
  width: 100%;
  display: none;
  cursor: pointer;
}

.navbar__logo {
  text-align: center;
  padding: 2rem 0;
}

.navbar__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar__item > * {
  padding: 1.5rem;
  margin: 1rem 0;
  color: var(--color-gray);
  font-size: var(--font-l);
  border-radius: 15px;

  transition: all 0.2s ease-in-out;
}

.navbar__item:hover > * {
  color: var(--color-white);
  background-color: var(--color-gray);
}

.navbar__item--active > * {
  background-color: var(--color-gray);
  color: var(--color-light);
}

.navbar-trigger {
  position: fixed;
  background-color: var(--color-dark);
  color: var(--color-white);
  margin: 2rem 0;
  padding: 1rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.app-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark);
  opacity: 0.5;
  z-index: 4;
  display: none;
}

.app-overlay--active {
  display: block;
}

@media only screen and (max-width: 1300px) {
  .navbar {
    position: fixed;
    left: calc(var(--navbar-width) * -1);
  }

  .navbar--active {
    left: 0;
  }

  .navbar--active > .navbar__close {
    display: block;
  }

  .navbar-trigger {
    display: block;
  }
}
