.global-data {
  grid-area: global-data;
  margin-top: 3rem;
  width: 100%;
}

.global-card:not(:first-of-type) {
  margin-top: 1rem;
}

.global-card__header {
  margin: -2rem -2rem 0 -2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 1rem 2rem;
}

.global-card__header--info {
  background-color: var(--color-info);
}

.global-card__header--danger {
  background-color: var(--color-danger);
}

.global-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global-card__info {
  margin-top: 1rem;
}

.global-card__info:first-of-type {
  margin-top: 1rem;
}

@media only screen and (max-width: 1300px) {
  .global-data {
    min-width: calc(100vw - 4rem - 2rem);
    display: flex;
    overflow-x: auto;
    padding: 1rem 0.1rem;
    margin-right: -2rem;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .global-data::-webkit-scrollbar {
    display: none;
  }

  .global-card {
    min-width: 450px;
    margin-right: 1rem;
  }

  .global-card:not(:first-of-type) {
    margin-top: 0;
  }
}
