table,
th,
td {
  border-collapse: collapse;
  padding: 2rem;
  text-align: left;
}

table {
  width: 100%;
}

th {
  background-color: var(--color-info);
  color: var(--color-white);
  position: sticky;
  top: 0;
}

tbody tr:nth-of-type(2n) {
  background-color: #f5f4f4;
}

.stats-table-container {
  margin-top: 2rem;
}

.stats-table__cell--bold {
  font-weight: bold;
}

.stats-table th:not(:first-of-type) {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.stats-table th:not(:first-of-type):hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 1300px) {
  table,
  th,
  td {
    padding: 0.2rem;
  }
}
