:root {
  --color-dark: #25272a;
  --color-gray: #6e6f70;
  --color-danger: #d02c3c;
  --color-warning: #ffc005;
  --color-info: #098dec;
  --color-success: #27a744;
  --color-light: #fcfcfc;
  --color-white: #ffffff;

  --font-l: 1.875rem;
  --font-m: 1.25rem;
  --font-s: 1rem;

  --navbar-width: 250px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-light);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: var(--font-l);
  font-weight: 700;
}

.title--dark {
  color: var(--color-dark);
}

.title--light {
  color: var(--color-light);
}

.subtitle {
  font-size: var(--font-m);
  font-weight: 400;
}

.subtitle--dark {
  color: var(--color-dark);
}

.subtitle--light {
  color: var(--color-light);
}

.text {
  font-size: var(--font-s);
  font-weight: 300;
}
