:root {
  --color-dark: #25272a;
  --color-gray: #6e6f70;
  --color-light-gray: #efefef;
  --color-danger: #d02c3c;
  --color-warning: #ffc005;
  --color-info: #098dec;
  --color-success: #27a744;
  --color-light: #fcfcfc;
  --color-white: #ffffff;

  --font-l: 1.875rem;
  --font-m: 1.25rem;
  --font-s: 1rem;

  --navbar-width: 250px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-light);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  max-width: 200px;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.3s ease-in-out;
}

.inline-container {
  display: flex;
  align-items: center;
}

.inline-container > :first-child {
  margin-right: 1rem;
}

.card {
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.card--big {
  padding: 2rem;
}

.card--small {
  padding: 0.5rem 1rem;
}

.card--hover:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button {
  background-color: var(--color-white);
  border-radius: 15px;
  outline: none;
  font-size: var(--font-s);
  color: var(--color-dark);
  border: 1px solid #ccc;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.separator {
  width: 100%;
  margin: 2rem auto;
  background-color: var(--color-light-gray);
  height: 2px;
}

.error {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--navbar-width);
}

.error--map {
  margin-left: 0;
}

.title {
  font-size: var(--font-l);
  font-weight: 700;
}

.title--dark {
  color: var(--color-dark);
}

.title--light {
  color: var(--color-light);
}

.subtitle {
  font-size: var(--font-m);
  font-weight: 400;
}

.subtitle--dark {
  color: var(--color-dark);
}

.subtitle--light {
  color: var(--color-light);
}

.text {
  font-size: var(--font-s);
  font-weight: 300;
}

.is-warning {
  color: var(--color-warning);
}

.is-danger {
  color: var(--color-danger);
}

.is-success {
  color: var(--color-success);
}

@media only screen and (max-width: 1300px) {
}
