.home-page {
  display: grid;
  grid-template-areas:
    "header header"
    "stats global-data"
    "chart global-data";

  grid-template-columns: 70% 28.5%;
  gap: 0 2rem;
}

.home-page__header {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

.home-page__date-card {
  color: var(--color-dark);
}

@media only screen and (max-width: 1300px) {
  .home-page {
    grid-template-areas:
      "header"
      "global-data"
      "stats"
      "chart";
    grid-template-columns: 100%;
  }
}
